doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src='javascripts/jquery-2.0.3.min.js')
    script(src='javascripts/bootstrap.min.js')
    script(src='javascripts/onlyone-1.0.0.min.js')
    script(src='javascripts/ttmsr.js')
  body
    block content