extends layout

block content
   div(class="container")
    div(class="row row-offcanvas row-offcanvas-right")
        div(class="col-xs-12 col-sm-9")
            div(class="get-article-area " id="gacontent")
                div(class="yue top20")
                      form(action="/changepassword", method="POST")
                        h1 修改密码
                        label 微信号
                        input(placeholder="请输入你的微信号", class="form-control", name="wxid")
                        br
                        label 旧密码
                        input(placeholder="请输入你的旧密码", class="form-control", name="pwd", type="password")
                        br
                        label 新密码
                        input(placeholder="请输入你的新密码", class="form-control", name="newpwd", type="password")
                        br
                        button(class="btn btn-primary green", type="submit") 修改


